{{ define "main" }}
  <article>
    <!-- <h1 class="post-title">{{ .Title }}</h1> -->
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <h2><a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <div class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "02.01.2006" }}
            <!-- -
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} минут читать -->
          </div>
          {{- with .Params.tags }}
          <div class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            {{- range . -}}
              {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
              {{- end }}
            {{- end }}
          </div>
          {{- end }}
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
