.post-title {
  color: $lightest-color;
  margin-bottom: 0.5em;
  font-size: 1.750em;
}

.post-content {
  pre {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding-left: 1em;
  }
  img {
    max-width: 100%;
  }
  h2, h3, h4, h5 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.post-meta {
  font-size: 0.8em;
  margin-bottom: 1em;
}
